body {
    background-color:lightgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 1px dimgray;
}

h2 {
    margin: 30px;
    text-align: center;
}

p {
    text-decoration: underline;
    font-weight: bolder;
}

a:link {
    color: brown;
}

a:visited {
    color: darkred;
}

a:hover {
    color:crimson
}

#main_table, th, td {
    border: 2px solid black;  
    margin-left: auto;  
    margin-right: auto;  
    border-collapse: collapse;    
    text-align: center;  
    font-size: 20px;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 5px;
    background-color:rgb(157, 153, 153);
}

th, td {
    width: 250px;
}

#add_new_table {
    border-collapse: collapse;
}

#more_info_table {
    border-collapse: collapse;
}

#add_button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: small;
    background-color: rgb(157, 153, 153);
    padding: 5px;
    margin-left: 185px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    text-shadow: 1px 1px 1px dimgray;
}

input, select {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    padding: 5px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px dimgray;
    background-color: lightgray;
    border: solid 1px black;
}

#dynamic_tables {
    display: flex;
    flex-direction: row;
}

#add_new_flex, #more_info_flex {
    display: none;
    flex: 1;
    margin: 50px;
}

